<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowStudentDetails</servlet-name>
    <servlet-class>ShowStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentDetails</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchStudent</servlet-name>
    <servlet-class>SearchStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudent</servlet-name>
    <url-pattern>/servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditStudent</servlet-name>
    <servlet-class>EditStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudent</servlet-name>
    <url-pattern>/servlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/servlet5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FilterServlet</servlet-name>
    <servlet-class>FilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterServlet</servlet-name>
    <url-pattern>/servlet6</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>